.w3l-project {
    background-image: url(../images/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    